.map{
    animation: show 1s forwards;
    width: 100% !important;
    height: 820px !important;
}

.map-container {
    width: 100% !important;
    height: 100% !important;
}

.modal .map {
    width: 600px !important;
    height: 400px !important;
}


@media (max-width: 768px) {
    .map {
        height: 500px !important;
    }
}
@media (max-width: 640px) {
    .modal .map {
        width: 100% !important;
        height: 300px !important;
    }
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}